*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/calculadora1/assets/img/background.svg);
    background-size: cover;
    background-position: center center;
    font-size: 4rem;
}

.calculadora{
    background-color: darkblue;
    width: 330px;
    margin: auto;
    padding: 20px;
    margin-top: 30px;
   
   

}


.display{

    width: 327px;
    height: 60px;
    background-color: white;
    color: black;
    font-size: 25px;
    outline: none;
    border: none;


}


button{
    border: none;
    color: white;
    width: 80px;
    height: 80px;
    font-size: 25px;
    background-color: rgb(139, 130, 130);

}
button:hover{
    background-color: rgba(0, 0, 0, 0.9);
}